* {
    margin: 0px;
    padding: 0;
}

a{
    text-decoration: none;
}

.container{
    max-width: 1100px;
    margin:0px auto;
    height: 100%;
}

header{
    height: 80px;
    width: 100%;
    background-color: black;
    position: fixed;
    top: 0px;
    z-index: 200;
}

header .header-wrapper {
    display: flex;
    justify-content: space-between;
    height: 100%;
    align-items: center;
}

header .header-wrapper .right{
    display: flex;
    align-items: center;
}

.cta-button{
    background-color:#cb9766; 
    padding: 9.5px 30px;
    border-radius: 4px;
    color: black !important;
    transition: all .3s ease-out;
    margin-left: 20px;
}
.cta-button:hover{
    background-color:#494949;
    color: #fff !important;
}


.header-wrapper .left{
    display: flex; 
}

.header-wrapper .right a{
  margin-left: 20px;
  color: white;
  font-family: 'Lato', sans-serif;
  font-size: 16px;
}

.meniu{
 margin: auto;
 padding-right: 22px;
}

.meniu-container{
    height: 5px;
    width: 19px;
    border: 3px solid white;
    border-right: 0px;
    border-left: 0px;
    justify-content: center;

}

.holleta{
    font-size: 28px;
    font-family: 'Lato', sans-serif;
    color: white;
    font-weight: 500;
}

.main-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.main-reclam {
    position: absolute;
    z-index: 100;
    left: 80px;
    top: 300px;
    height: 440px;
}
.main-reclam h1 {
font-size: 72px;
font-weight: 600;
font-family: 'Lato', sans-serif;
color: white;
}

.main-reclam h2 {
    color: white;
    font-size: 18px;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    width: 360px;
    line-height: 25px;
    padding-top: 20px;
}

.main-reclam a {
    font-family: 'Roboto', sans-serif;
    color: #e7b78d;
    font-size: 16px;
    font-weight: 500;
}
.main-reclam a:hover{
    color: white;
    transition: 0.6s;
}

.main-reclam a i {
font-size: 10px;
padding-top: 40px;
padding-left: 5px;
}

.hero-section{
position: relative;
overflow: hidden;
height: 100vh;
}

.hero-section .cards{
    position: absolute;
    left: 27%;
    width: 100%;
    top: -8%;
    transform: scale(1.1);
}

section .icons{
   color: white;
   font-family: 'Roboto', sans-serif;
   z-index: 100;
   font-size: 18px;
}
.bottom-wrapper{
    display: flex;
    position: absolute;
    bottom: 4%;
    left: 80px;
    right: 80px;
    justify-content: space-between;
    align-items: center;
}

section .icons i{
    padding-left: 10px;
    color: white;
    font-size: 22px;
}

.promo-theme{
    width: 300px;
    height: 50px;
    background-color: white;
    border-radius: 4%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: nowrap;
}


.promo-theme i{
    color: red;
    font-size: 18px;
}

.border-bottom{
 background-color:  #cb9766;
 width: 100%;
 height: 5px;
 position: absolute;
 bottom: 0px;
}

.services-section{
    background-color: #404040;
    background-image: url(https://promo-theme.com/holleta/wp-content/plugins/pt-holleta-addons/assets/imgs/pattern.php?fill=363636&type=type1);
    background-size: contain;

    display: flex;
    justify-content: space-between;
    align-items: baseline;
    padding: 60px 80px;
}

.services-section .left {
    width: 40%;
}

.services-section .right {
 width:55%;
}

.services-section .left h1 {
    color: white;
    font-size: 42px;
    font-family: 'Lato', sans-serif;
    width: 400px;
    margin-top: -25px;
    padding-bottom: 25px;
}

.services-section .left p {
    font-size: 24px;
    font-family: 'Roboto', sans-serif;
    color: #eab98d;
}

.services-section .left a{
    margin-top: 30px;
}

.services-section .left a {
    font-family: 'Roboto';
    background-color:#041B28;
    padding: 9.5px 30px;
    border-radius: 4px;
    color: white !important;
    transition: all .3s ease-out;
    display: inline-block;
}

.services-section .left a:hover {
    background-color:#eab98d;
    color: #fff !important;
}

.single-service {
    display: flex;

}

.service-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.service-header h1 {
    font-size: 18px;
    font-family: 'Roboto', sans-serif;
    color: white;
    font-weight: 500;
}

.service-header p { 
    color: white;
    padding:3px 7px;
    background-color: #874C10;
    border-radius: 4px;
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
}

.service-icon {
    margin-right: 20px;
}

.service-icon img {
    width: 28px;
}
.service-short-desc {
    font-family: 'Lato', sans-serif;
    color:#cdcdcd;
    font-size: 14px;
    margin-top: 15px;
}

.services-section .right {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    
}

.single-service {
    width: 48%;
    margin-top: 50px;
}

.demo-pages {
    width: 1100px;
    margin: 70px auto 40px;
    display: flex;
    justify-content: space-between;
}

.demo-pages h1 {
    font-size: 42px;
    font-family: 'Lato', sans-serif;
    font-weight: 600;
}
 .demo-pages .cloud {
    display: flex;
    margin: auto 0px;
 }

 .demo-pages .cloud img {
    width: 31px;
    height: 31px;
    margin: auto 10px;
}


.demo-pages .cloud p {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    margin: auto 0px;
}

.card-area{
    display: flex;
    margin: 0px auto;
    flex-wrap: wrap;
    width: 1100px;
    justify-content: space-between;
}

.card-area img{
    margin: 0px auto;
    width: 349px;
    height: 449px;
}

.card-area div article{
    display: flex;
    margin-bottom: 60px;
    margin-top: 15px;
}

.card-area div article p{
font-size: 12px;
font-weight: 500;
font-family: 'Roboto';
color: #874c10;
}

.card-area div article h2{
font-size: 18px;
font-family: 'Roboto';
font-weight: 500;
color: black;
}

main .services{
    display: flex;
    width: 1100px; 
    margin: 100px auto 0px;
}

main .services .left{
    width: 65%;
}

main .services .left h1{
    font-size: 42px;
    font-family: 'Lato', sans-serif;
    margin-bottom: 30px;
}

main .services .left p{
    color: #535353;
    font-family: 'Lato', sans-serif;
    width: 85%;
    line-height: 30px;
}

main .services .left a{
    font-family: 'Roboto';
    color: #874C10;
    font-size: 16px;
    font-weight: 500;
}

main .services .left a:hover{
    color: black;
    transition: 0.6s;
}
main .services .left a i{
    font-size: 12px;
    padding-top: 40px;
    padding-left: 5px;
}


main .services .right{
    width: 35%;
}

main .services .right h1{
    width: 65%;
    font-size: 15px;
    font-weight: 400;
    font-family: 'Roboto';
    background-color: #eab98D;
    color: black;
    padding: 12px 40px;
    border-radius: 30px 0px;
    margin: 0px auto;
}

main .services .right .img div{
    line-height: 90px;
}



.img .border{
    border-left: 1px solid #000000;
    height: 40px;
    margin-top: 20px;
    margin-left: 12px;
    flex-wrap: wrap;
    width: 32px;
    opacity: .4;
}

main .services .right .img {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 20px;
}

.owl-theme .owl-dots .owl-dot.active span, .owl-theme .owl-dots .owl-dot:hover span {
    background: #EAB98D;
}

.owl-theme .owl-nav.disabled+.owl-dots {
    margin-top: 25px;
}

.service-advance .right img {
    height: 445px;
    width: 430px;
    object-fit: cover;
}

.service-advance {
    display: flex;
    max-width: 100%;
    margin: 80px 0;
    padding-left: 80px;
    align-items: center;
    position: relative;
    height: 445px;
}

.service-advance .right {
    position: absolute;
    right: 0;
}

.service-advance .left {
    padding: 0px 53px 70px 0px;
    background-color: white;
    z-index: 99;
    width: 70%;
    height: 40%;
}

.service-advance-item .content {
    padding: 15px;
    background-color: #333333;
    color: white;
    width: 54%;
    border-radius: 2%;
}

.service-advance-item .content .bottom-border{
 height: 1px;
 width: 40px;
 border-bottom: 1px solid;
 opacity: .1;
 margin-top: 8px;
}

.service-advance-item .content h1{
    font-size: 16px;
    font-family: 'Roboto';
    font-weight: 500;
}

.service-advance-item .content p{
    font-size: 14px;
    font-family: 'Lato';
    color: #dfdfdf;
    padding-top: 10px;
}

.service-advance .right {
    height: 445px;
}

.service-advance .right img {
    height: 445px;
}

.service-advance-item img {
    height: 50px !important;
    width: 50px !important;
    margin: 0px 0px 20px 15px;
}

.signatuer-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 30px;
    width: 88%;
}

.signatuer-wrapper p {
    margin-top: 20px;
    max-width: 285px;
    position: relative;
    padding:  17px 10px;
    font-size: 18px;
    line-height: 24px;
    font-family: 'Roboto';
    color:  #333333;
    opacity: 0.9;
}

.signatuer-wrapper img {
    width: 150px;
}

.signatuer-wrapper p:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: 85px;
    border: 1px solid #333333;
    border-right: 0;
}

main .card-title {
margin: 30px 80px;
display: flex;
justify-content: space-between;
align-items: center;
}

main .three-card {
    display: flex;
    justify-content: space-between;
    margin: 0px 80px;
}


main .three-card img {
    width: 360px;
    height: 445px;
}

main .button-area {
    margin: 15px 180px;
    display: flex;
    justify-content: space-between;
}

main .button-area a {
    width: 9%;
    font-family: 'Roboto';
    background-color: #041B28;
    padding: 9.5px 30px;
    border-radius: 4px;
    color: white !important;
    transition: all .3s ease-out;
    display: inline-block;
}

main .button-area a:hover {
    background-color:#eab98d;
    color: #fff !important;
}

main .card-title h1 {
font-size: 42px;
font-family: 'Roboto';
font-family: 'Lato', sans-serif;
}

main .card-title p {
    font-size: 22px;
    font-family: 'Lato', sans-serif;
    color: #874c10;
}

.payment-section {
    background-image: url(https://promo-theme.com/holleta/wp-content/plugins/pt-holleta-addons/assets/imgs/pattern.php?fill=363636&type=type2);
    background-repeat: repeat;
    background-color: #404040 !important;
    background-size: 360px;
    position: relative;
    height: 345px;
    display: flex;
    align-items: center;
    margin: 200px 0;
}

.payment-section .payment-image {
    width: 540px;
    position: absolute;
    left: 80px;
}

.payment-section .content {
    position: absolute;
    right: 0px;
    width: 50%;
}

.payment-section .content h1 {
font-size: 42px;
font-family: 'Lato', sans-serif;
color: white;
margin-bottom: 20px;
margin-left: 15px;
}

.payment-section .content span {
    margin-top: 15px;
    display: block;
    color: #EAB98D;
    font-size: 18px;
    font-family: 'Roboto';
}

.payment-section .content .for-line-border {
    display: flex;
}

.payment-section .content .for-line-border .line-border{
    border-bottom: 1px;
    height: 1px;
    width: 40px;
    background-color: #EAB98D;
    margin: 25px 18px; 
}

.payment-section .content p {
    margin-top: 15px;
    margin-left: 20px;
    font-size: 16px;
    font-family: 'Lato', sans-serif;
    line-height: 1.81;
    color: white;
    width: 87% ;
}

.payment-section .sponsors {
    position: absolute;
    right: 0;
    width: 50%;
    bottom: -86px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.payment-section .sponsors img:not(:last-child) {
    margin-right: 20px;
}

.testimonial-wrapper {
    padding: 0 80px;
    margin: 80px 0;
}

.item-wrapper {
    display: flex;
}

.item-wrapper .content {
    margin-left: 40px;
}

.item-wrapper .author-image {
    height: 60px !important;
    width: 60px !important;

}

.item-wrapper .heading-stars {
    display: flex;
}

.item-wrapper .heading-stars h1{
    font-size: 22px;
    font-family: 'Roboto';
    font-weight: 500;
}

.content .position{
    font-size: 18px;
    font-family: 'Roboto';
    color: #272626;
    opacity: 0.7;
    margin-bottom: 5px;
    margin-top: 10px
}

.item-wrapper .quote {
    font-size: 18px;
    font-family: 'Lato', sans-serif;
    margin-top: 30px;
    line-height: 1.61;
    opacity: 0.7;
}


.item-wrapper .heading-stars .stars {
    margin-left: 40px;
}


footer {
    display: flex;
    flex-direction:row;
    background-color: #272525;
    justify-content: space-between;
    padding: 40px 80px;
    height: 190px;
}


footer .logo h1 {
    font-family: 'Lato', sans-serif;
    font-size: 28px;
    color: white;
}

footer .logo p {
    width: 250px;
    font-size: 14px;
    font-family: 'Lato', sans-serif;
    color: white;
    margin-top: 15px;
}

footer .logo .icons{
    margin-top: 15px;
}

footer .logo .icons a{
    color: white;
    font-size: 20px;
    margin-left: 10px;
}

footer .logo .icons span {
color: white;
font-family: 'Roboto', sans-serif;
font-size: 14px;
font-weight: 500;
}


footer .address h1{
    color: white;
    font-size: 16px;
    font-family: 'Lato', sans-serif;
    margin-top: 10px;
    margin-bottom: 7px;
}


footer .address span {
    color: white;
    font-family: 'Lato', sans-serif;
    font-size: 14px ;
    opacity: .5;
}

footer .address .london {  
    width: 240px;
}

.address p {
    color: white;
    font-size: 14px;
    font-family: 'Lato', sans-serif;
    margin-bottom: 15px;
    margin-top: 3px;
}

footer .contact-us{
    margin-top: 10px;
}

footer .contact-us h1{
    font-weight: 600;
    color: white;
    font-size: 16px;
    font-family: 'Lato', sans-serif;
}

footer .contact-us p{
    color: white;
    font-size: 14px;
    font-family: 'Lato', sans-serif;
    margin: 30px 0px;
}

footer .subscribe h1{
    font-weight: 600;
    color: white;
    font-size: 16px;
    font-family: 'Lato', sans-serif;
    margin-left: -80px;
    margin-top: 10px;
}

.subscribe input {
    background-color: #272525;;
    border-top: 0px;
    border-right: 0px;
    border-bottom: 1px solid #3c3a3a;
    border-left: 0px;
    width: 150px;
    height: 30px;
    margin-left: -80px;
    margin-top: 30px;
}

.subscribe input:focus {
outline: none;
}

.subscribe a {
    background-color:#302f2f;
    margin-left: 5px;
    padding: 10px 20px;
    border-radius: 4px;
    color: white !important;
    transition: all .3s ease-out;
    display: inline-block;
    font-size: 14px;
    font-family: 'Lato', sans-serif;
}

.subscribe a:hover {
    background-color:#1c1c1c;
    color: #fff !important;
}


main .discover-section {
    display: flex;
    position: relative;
}

.discover-section .left img{
    width: 631px;
    height: 487px;
}

.discover-section .right .content {
    padding: 45px 90px 45px 125px;
    background-color: white;
    border-radius: 4px;
}


.discover-section .right{
    position: absolute;
    max-width: 55%;
    left: 460px;
    top: 50%;
    transform: translateY(-50%);
}

.discover-section .right h1 {
    font-size: 42px;
    font-family: 'Lato', sans-serif;
    margin-bottom: 30px;
}

.discover-section .right p {
    font-size: 18px;
    font-family: 'Lato', sans-serif; 
    color: #535353;
    line-height: 1.61;
    margin-bottom: 38px;
}

.discover-section .right a{
    color: white;
    background-color:#041B28;
    padding: 11px 25px;
    border-radius: 4px;
    font-size: 16px;
    font-family: 'Roboto';
    transition: all .3s ease;
}

.discover-section .right a:hover {
    background-color: #EAB98D;
}

footer > div {
    width: 18%;
}
.footer-bot{
    background-color: #272525;
    padding: 0px 80px;
}

.footer-bot p {
    opacity: 0.5;
    font-size: 13px;
    font-family: 'Lato', sans-serif;
    color: white;
}

.right-bot {
    display: flex;
    align-items: center;
    
}

.footer-bot-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
}

.right-bot a {
    margin-right: 15px;
    color: white;
    font-size: 13px;
    font-family: 'Lato', sans-serif;
}

.mini-border {
   width: 1px;
   height: 20px;
   margin-right: 15px;
   border-right: 1px solid #3c3a3a;
}
.footer-border {
    width: 100%;
    height: 1px;
    background-color:#3c3a3a;
}

.Feather{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    position: fixed;
    left: 15px;
    bottom: 50px;
    background-color: rgba(128, 255, 0, 0.664);
    z-index: 1000;
}


